<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{description}}" />
<title>{{ title }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<link rel="alternate" hreflang="{{page.lang}}" href="{{page.url}}">
{% for link in page.url | locale_links %}
<link rel="alternate" hreflang="{{link.lang}}" href="https://www.know-yourself.me{{link.url}}">
{% endfor %}

<!-- Bootstrap , fonts & icons  -->
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/fonts/icon-font/css/style.css">
<link rel="stylesheet" href="/assets/fonts/typography-font/typo.css">
<link rel="stylesheet" href="/assets/fonts/fontawesome-5/css/all.css">
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">

<!-- Plugin'stylesheets  -->
<link rel="stylesheet" href="/assets/plugins/aos/aos.min.css">
<link rel="stylesheet" href="/assets/plugins/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="/assets/plugins/nice-select/nice-select.min.css">
<link rel="stylesheet" href="/assets/plugins/slick/slick.min.css">

<!-- Vendor stylesheets  -->
<link rel="stylesheet" href="/assets/css/main.css">