<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ dir }}">
<head>
  {% include "basehead.njk" %}
  
  {% block plugincss %}  
  {% endblock %}
</head>
<body data-theme-mode-panel-active data-theme="light" style="font-family: Inter;">
  <div class="site-wrapper overflow-hidden position-relative min-vh-100 d-flex flex-column 
                justify-content-between">
      {% block main %}
      {% endblock %}
  </div>

  <!-- Vendor Scripts -->
  <script src="/assets/js/vendor.min.js"></script>

  <!-- Plugin's Scripts -->
  <script src="/assets/plugins/jquery/jquery.min.js"></script>
  <script src="/assets/plugins/jquery/jquery-migrate.min.js"></script>

  <script src="/assets/plugins/aos/aos.min.js"></script>
  <script src="/assets/plugins/slick/slick.min.js"></script>
  <script src="https://porjoton.netlify.app/mekanic/js/waypoints.min.js"></script>

  <script src="/assets/plugins/menu/menu.js"></script>

  {% block pluginjs %}
  {% endblock %}

  <!-- Activation Script -->
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/lazysizes.min.js" async=""></script>
</body>
</html>
