{% extends "layouts/base.njk" %}
{% block head %}{% endblock %}

{% import '../partials/header.njk' as Header with context %}
{% import '../partials/footer.njk' as Footer with context %}

{% block main %}
    <!-- Site Header -->
    {{ Header.render() }}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                <div class="text-center">
                    <p>Verification code: OS7K3L</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{ Footer.render('footer.copyright',
    'footer.links.website_privacy_policy',
    'footer.links.app_privacy_policy',
    'footer.links.terms_and_conditions',
    'footer.links.imprint')}}

{% endblock %}