---
title: "Me - Know Yourself"
---
{% extends "layouts/markdown.njk" %}

{% block markdown_content %}
    {% markdown %}
    {% include "src/assets/documents/privacy_policy_app_de.md" %}
    {% endmarkdown %}
{% endblock %}